
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="A Task Management System through which a user can create, edit, list and delete tasks.">
    <meta name="author" content="Rishon Patani">

    <title>TaskManagement | Tasks</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../stylesheets/custom.css"/>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="color:#13a5a6;font:bold">TaskManagement</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav select-active">
                <li class=""><a href="/">All Tasks</a></li>
                <li class=""><a href="https://chat-ezy.herokuapp.com/chat" target="_blank">Chat</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container page-wrapper">

    <div class="col-md-offset-1 col-md-10">
        <h3>Create a new task</h3><hr>

        <br><br>
        <form action="/tasks/assign" method="post">
        <label class="col-md-3 col-sm-offset-2 control-label" for="name">Assign To</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="assignee" value="<%=assignee %>"
                   placeholder="Name of the person" id="name"><br><br>
        </div>
        <label class="col-md-3 col-sm-offset-2 control-label" for="taskDesc">Task description</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="taskDesc" value="<%=taskDesc %>"
                   placeholder="Short description of task" id="taskname"><br><br>
        </div>
        <div class="col-sm-5 col-sm-offset-4">
            <button style="width:200px;font-family: verdana;font-weight: bolder" id="assign" type="submit"
                    class="btn btn-info">Assign
            </button>
            </form>
        </div>
        <!--<a href="/task/all-tasks/" class="btn btn-info" style="margin-bottom:20px">Show All Tasks </a>-->
    </div>
</div>

<div class="footer">
    <p style="font-size:10px; color:black"> &copy; Copyright 2017. [Developed By: Rishon Patani]</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
