
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="A Task Management System through which a user can create, edit, list and delete tasks.">
  <meta name="author" content="Rishon Patani">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <title>TaskManagement | Home</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/stylesheets/custom.css"/>
  <script>
      var HeartsBackground = {
          heartHeight: 60,
          heartWidth: 64,
          hearts: [],
          heartImage: 'http://i65.tinypic.com/69kjyv.jpg',
          maxHearts: 8,
          minScale: 0.4,
          draw: function() {
              this.setCanvasSize();
              this.ctx.clearRect(0, 0, this.w, this.h);
              for (var i = 0; i < this.hearts.length; i++) {
                  var heart = this.hearts[i];
                  heart.image = new Image();
                  heart.image.style.height = heart.height;
                  heart.image.src = this.heartImage;
                  this.ctx.globalAlpha = heart.opacity;
                  this.ctx.drawImage (heart.image, heart.x, heart.y, heart.width, heart.height);
              }
              this.move();
          },
          move: function() {
              for(var b = 0; b < this.hearts.length; b++) {
                  var heart = this.hearts[b];
                  heart.y += heart.ys;
                  if(heart.y > this.h) {
                      heart.x = Math.random() * this.w;
                      heart.y = -1 * this.heartHeight;
                  }
              }
          },
          setCanvasSize: function() {
              this.canvas.width = window.innerWidth;
              this.canvas.height = window.innerHeight;
              this.w = this.canvas.width;
              this.h = this.canvas.height;
          },
          initialize: function() {
              this.canvas = $('#canvas')[0];

              if(!this.canvas.getContext)
                  return;

              this.setCanvasSize();
              this.ctx = this.canvas.getContext('2d');

              for(var a = 0; a < this.maxHearts; a++) {
                  var scale = (Math.random() * (1 - this.minScale)) + this.minScale;
                  this.hearts.push({
                      x: Math.random() * this.w,
                      y: Math.random() * this.h,
                      ys: Math.random() + 1,
                      height: scale * this.heartHeight,
                      width: scale * this.heartWidth,
                      opacity: scale
                  });
              }

              setInterval($.proxy(this.draw, this), 30);
          }
      };

      $(document).ready(function(){
          HeartsBackground.initialize();
      });
  </script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" style="color:#13a5a6;font:bold">TaskManagement</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav select-active">
        <li class="active"><a href="/">Home</a></li>
        <li class=""><a href="/">All Tasks</a></li>
        <li class=""><a href="http://10.182.58.69:3000/chat" target="_blank">Chat</a></li>
        <li><a href="/tasks/createTask/" class="btn btn-xs btn-default create-btn" style="padding:5px 10px;">Create New Task</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container page-wrapper">

  <div class="col-md-offset-1 col-md-10">
    <h2>Happy Valentine's day duuude ! :p</h2><hr>

    <br>
    <!--<a href="/task/all-tasks/" class="btn btn-info" style="margin-bottom:20px">Show All Tasks </a>-->

  </div>
  <div class="row">
      <% for(var i=0;i<taskList.length;i++){ %>
    <div class="col-md-4 col-sm-6 col-xs-12" style="height:300px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">To Do</h3>
        </div>
        <div class="panel-body" style="height:160px">
          <b><%= taskList[i].taskname %></b>
        </div>
        <div class="panel-footer">
          <div class="row">
            <div class="col-md-8">
              <b>Assigned to: <%= taskList[i].name %></b>
            </div>
          </div>

        </div>
      </div>
    </div>
      <%  }; %>
</div>
  <canvas id="canvas"></canvas>
</div>

<div class="footer">
  <p style="font-size:10px; color:black">&copy; Copyright 2017. [Developed By: Rishon Patani]</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
